# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/
/.pnp
.pnp.js

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

#Build files
dist/

.DS_Store
